section {
    width: 80%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}
input {
    background-color: transparent;
    border: solid 3px yellow;
    color: whitesmoke;
    font-size: 1.5em;
}


.guessbox {
    border: solid 2px red;
}
.quote {
    border: solid 2px red;
    width: 50%;
}
.red {
    background-color: red;
}
.green {
    background-color: green;
}