section {
    /* border: solid 2px red; */

    padding: 1.5em;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
}
.quote {
    /* border: solid 3px var(--secondary-color); */
    border-radius: 0.5em;
    background-color: var(--accent-bg-color);
    h2 {
        font-size: 1.3em;
    }
    p {
        padding: 0.5em;
        max-width: 40rem;
        font-size: 1.5em;
        color: var(--black-color);
        border: double 2px var(--grey-color);
        /* &::before {
            content: "«";
        }
        &::after {
            content: "»";
        } */
    }
}
.guessbox {
    input, li, li > span {
        padding: 0.3em;
        background-color: var(--white-color);
        color: var(--grey-color);
        width: 100%;
    }
    input {
        width: 28rem;
        font-size: 1.7em;
        border: solid 3px var(--accent-color);
        border-radius: 0.5em;
        size: min-content;
    }
    button {
        display: none;
    }
    div {
        width: 100%;
        align-items: stretch;
        ul {
            position: absolute;
        }
    }
    ul {
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }
}
.optionsList {
    position: relative;
    ul {
        position: absolute;
        z-index: 2000;
        left: 2em;
        
        flex-flow: column nowrap;
        max-height: 12rem;
        overflow: scroll;
    }
    li {
        width: 30rem;
        border-radius: 0.1em;
        border: solid 3px var(--accent-color);
        font-size: 1.5em;
        &:hover {
            background-color: var(--accent-color);
        }
    }
}
.selectedList {
    ul {
        flex-flow: column-reverse nowrap;
        /* border: solid 3px lime; */
    }
    li {
        width: 30rem;
        border-radius: 0.1em;
        font-size: 1.7em;
    }
    .correct {
        background-color: var(--green-color);
    }
    .incorrect {
        background-color: var(--red-color);
    }
}


/* .guessbox {
    border: solid 2px red;
}
.quote {
    border: solid 2px red;
    width: 50%;
}
.red {
    background-color: red;
}
.green {
    background-color: green;
} */