.quizznav {
    ul {
        padding: 1em;
        height: 100%;
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-between;
        align-items: center;
        gap: 1em;
    }
    li {
        padding: 1em;
        background-image: radial-gradient(var(--primary-color) 65%, transparent 70%);
        filter: drop-shadow(-12px 0 5px var(--primary-color));
        width: max-content;
        font-size: 2rem;
        letter-spacing: 0.1ch;
        border-image: url("/src/assets/disney-border.png") 40 fill;

        &:hover {
            filter: brightness(1.2);
            a {
                color: var(--accent-color);
            }
        }
    }
}