.disneydle {
    font-family: "waltograph";
}
.title {
    background-color: bisque;
    height: 128em;
    height: 4em;
    display: flex;
    align-items: center;
    gap: 4em;
    img {
        height: 3em;
    }
    .h1 {
        width: 24em;
    }
}
h1 {
    font-size: 70ch;
    &:hover {
        color: gray;
    }
}