.footer {
    padding: 3em 1em;
    border: double 3px var(--secondary-color);
    p {
        line-height: 1em;
    }
    a {
        text-decoration: underline;
    }
    img {
        display: none
    }
}