/*================================================================================================*/
/** LAYOUT **/
/*================================================================================================*/
body, #root, main, header, footer, header > div {
  min-width: 340px;
  display: flex;
  align-items: center;
}
body, #root, header, footer, header > div {
  justify-content: center;
}
main {
  justify-content: stretch;
}
#root, header, footer, main {
  flex-flow: column nowrap;
}
/*================================================================================================*/
/** SCALING **/
/*================================================================================================*/
#root {
  max-width: 1280px;
  height: 900px;
  header {
    height: 25%;
  }
  main {
    height: 65%;
  }
  footer {
    height: 10%;
  }
  main, header, footer {
    width: 100%;
  }
}