/*================================================================================================*/
/** Style reset **/
/*================================================================================================*/
:root {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  scroll-behavior: smooth;
  overflow: hidden;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
*, *::after, *::before {
  box-sizing: border-box;
}
* {
  list-style: none;
  list-style-type: none;
  text-decoration: none;

  label, button {
    cursor: pointer;
    user-select: none;
    background-color: transparent;
    border: none;
  }
  
  a {
    cursor: pointer;
    user-select: none;
    &:hover {
        text-decoration: none;
    }
    &:active {
        text-decoration: none;
    }
  }
  img {
    max-height: 64px;
  }
}
/*================================================================================================*/
/** Custom properties : FONTS **/
/*================================================================================================*/
:root {
  --title-font: 'waltograph', sans-serif;
  --text-font: 'random-wednesday', sans-serif;
}
@font-face {
  font-family: 'waltograph';
  src: url("/src/assets/fonts/waltograph/waltographUI.ttf") format("truetype");
}
@font-face {
  font-family: 'pls-song';
  src: url("/src/assets/fonts/Please write me a song.ttf") format("truetype");
}
@font-face {
  font-family: 'random-wednesday';
  src: url("/src/assets/fonts/Random Wednesday.ttf") format("truetype");
}
/*================================================================================================*/
/** Custom properties : COLORS **/
/*================================================================================================*/
:root {
  /* todo */
  --white-color: #F8F3F2;
  --black-color: #171512;
  --grey-color: #544C6A;
  /* --primary-color: #103173; */
  --primary-color: #0A1D48;
  --secondary-color: #FFC0CB;
  --accent-color: #ffd700;
}
/*================================================================================================*/
/** BACKGROUND IMG **/
/*================================================================================================*/
body {
  height: 100vh;
  background-image: url('/src/assets/disney-castle.png');
  background-position: left center;
  background-repeat: no-repeat;
}